[submodule "bitnami-docker-bitnami-shell"]
	path = bitnami-dockers/bitnami-docker-bitnami-shell
	url = https://github.com/bitnami/bitnami-docker-bitnami-shell
    branch = master
[submodule "bitnami-docker-minio-client"]
	path = bitnami-dockers/bitnami-docker-minio-client
	url = https://github.com/bitnami/bitnami-docker-minio-client
    branch = master
[submodule "bitnami-docker-redis-cluster"]
	path = bitnami-dockers/bitnami-docker-redis-cluster
	url = https://github.com/bitnami/bitnami-docker-redis-cluster
    branch = master
[submodule "bitnami-docker-consul-exporter"]
	path = bitnami-dockers/bitnami-docker-consul-exporter
	url = https://github.com/bitnami/bitnami-docker-consul-exporter
    branch = master
[submodule "bitnami-docker-mysqld-exporter"]
	path = bitnami-dockers/bitnami-docker-mysqld-exporter
	url = https://github.com/bitnami/bitnami-docker-mysqld-exporter
    branch = master
[submodule "bitnami-docker-redis-exporter"]
	path = bitnami-dockers/bitnami-docker-redis-exporter
	url = https://github.com/bitnami/bitnami-docker-redis-exporter
    branch = master
[submodule "bitnami-docker-acmesolver"]
	path = bitnami-dockers/bitnami-docker-acmesolver
	url = https://github.com/bitnami/bitnami-docker-acmesolver
    branch = master
[submodule "bitnami-docker-cainjector"]
	path = bitnami-dockers/bitnami-docker-cainjector
	url = https://github.com/bitnami/bitnami-docker-cainjector
    branch = master
[submodule "bitnami-docker-consul"]
	path = bitnami-dockers/bitnami-docker-consul
	url = https://github.com/bitnami/bitnami-docker-consul
    branch = master
[submodule "bitnami-docker-elasticsearch"]
	path = bitnami-dockers/bitnami-docker-elasticsearch
	url = https://github.com/bitnami/bitnami-docker-elasticsearch
    branch = master
[submodule "bitnami-docker-etcd"]
	path = bitnami-dockers/bitnami-docker-etcd
	url = https://github.com/bitnami/bitnami-docker-etcd
    branch = master
[submodule "bitnami-docker-kafka"]
	path = bitnami-dockers/bitnami-docker-kafka
	url = https://github.com/bitnami/bitnami-docker-kafka
    branch = master
[submodule "bitnami-docker-mariadb"]
	path = bitnami-dockers/bitnami-docker-mariadb
	url = https://github.com/bitnami/bitnami-docker-mariadb
    branch = master
[submodule "bitnami-docker-minio"]
	path = bitnami-dockers/bitnami-docker-minio
	url = https://github.com/bitnami/bitnami-docker-minio
    branch = master
[submodule "bitnami-docker-postgresql"]
	path = bitnami-dockers/bitnami-docker-postgresql
	url = https://github.com/bitnami/bitnami-docker-postgresql
    branch = master
[submodule "bitnami-docker-rabbitmq"]
	path = bitnami-dockers/bitnami-docker-rabbitmq
	url = https://github.com/bitnami/bitnami-docker-rabbitmq
    branch = master
[submodule "bitnami-docker-redis"]
	path = bitnami-dockers/bitnami-docker-redis
	url = https://github.com/bitnami/bitnami-docker-redis
    branch = master
[submodule "bitnami-docker-tomcat"]
	path = bitnami-dockers/bitnami-docker-tomcat
	url = https://github.com/bitnami/bitnami-docker-tomcat
    branch = master
[submodule "bitnami-docker-cert-manager-webhook"]
	path = bitnami-dockers/bitnami-docker-cert-manager-webhook
	url = https://github.com/bitnami/bitnami-docker-cert-manager-webhook
    branch = master
[submodule "bitnami-docker-cert-manager"]
	path = bitnami-dockers/bitnami-docker-cert-manager
	url = https://github.com/bitnami/bitnami-docker-cert-manager
    branch = master
[submodule "bitnami-docker-redis-sentinel"]
	path = bitnami-dockers/bitnami-docker-redis-sentinel
	url = https://github.com/bitnami/bitnami-docker-redis-sentinel
    branch = master
[submodule "bitnami-docker-keycloak"]
	path = bitnami-dockers/bitnami-docker-keycloak
	url = https://github.com/bitnami/bitnami-docker-keycloak
    branch = master
[submodule "bitnami-docker-memcached"]
	path = bitnami-dockers/bitnami-docker-memcached
	url = https://github.com/bitnami/bitnami-docker-memcached
    branch = master
[submodule "bitnami-docker-fluentd"]
	path = bitnami-dockers/bitnami-docker-fluentd
	url = https://github.com/bitnami/bitnami-docker-fluentd
    branch = master
[submodule "bitnami-docker-mariadb-galera"]
	path = bitnami-dockers/bitnami-docker-mariadb-galera
	url = https://github.com/bitnami/bitnami-docker-mariadb-galera
    branch = master
[submodule "bitnami-docker-mysql"]
	path = bitnami-dockers/bitnami-docker-mysql
	url = https://github.com/bitnami/bitnami-docker-mysql
    branch = master
[submodule "bitnami-docker-jmx-exporter"]
	path = bitnami-dockers/bitnami-docker-jmx-exporter
	url = https://github.com/bitnami/bitnami-docker-jmx-exporter
    branch = master
[submodule "bitnami-docker-zookeeper"]
	path = bitnami-dockers/bitnami-docker-zookeeper
	url = https://github.com/bitnami/bitnami-docker-zookeeper
    branch = master
[submodule "bitnami-docker-mongodb"]
	path = bitnami-dockers/bitnami-docker-mongodb
	url = https://github.com/bitnami/bitnami-docker-mongodb
    branch = master
[submodule "bitnami-docker-nginx"]
	path = bitnami-dockers/bitnami-docker-nginx
	url = https://github.com/bitnami/bitnami-docker-nginx
    branch = master
[submodule "bitnami-docker-wordpress"]
	path = bitnami-dockers/bitnami-docker-wordpress
	url = https://github.com/bitnami/bitnami-docker-wordpress
    branch = master
[submodule "bitnami-docker-postgresql-repmgr"]
	path = bitnami-dockers/bitnami-docker-postgresql-repmgr
	url = https://github.com/bitnami/bitnami-docker-postgresql-repmgr
    branch = master
[submodule "bitnami-docker-pgpool"]
	path = bitnami-dockers/bitnami-docker-pgpool
	url = https://github.com/bitnami/bitnami-docker-pgpool
    branch = master
[submodule "bitnami-dockers/bitnami-docker-kubectl"]
	path = bitnami-dockers/bitnami-docker-kubectl
	url = https://github.com/bitnami/bitnami-docker-kubectl
    branch = master
[submodule "bitnami-dockers/bitnami-docker-postgres-exporter"]
	path = bitnami-dockers/bitnami-docker-postgres-exporter
	url = https://github.com/bitnami/bitnami-docker-postgres-exporter
